{
  "env": {
    "production": {
      "presets": [
        "es2015"
      ],
    },
    "test": {
      "presets": [
        "es2015"
      ],
      "plugins": [
        "babel-plugin-espower"
      ]
    }
  }
}
